@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    padding-top: 15px;

}

section a {
    text-decoration: none;
}

.plus_plan a{
    border: #0e4f1f 5px solid;
    width: 50%;
    padding: 24px;
    border-left: none;
    background-color: #bbdac5;
}

.free_plan a{
    border: #0e4f1f 5px solid;
    width: 50%;
    padding: 24px;
    border-left: none;
    background-color: #bbdac5;
}

.premium_plan a{
    border: #0e4f1f 5px solid;
    width: 50%;
    padding: 24px;
    border-left: none;
    background-color: #0e4f1f;
}
.premium_plan_title{
    color: white;
    font-weight: bolder;
}

h2 {
    color: gray;
}

p {
    background-color: white;
  
    padding: 10px;
}

.free_plan_para {
    border: black 1px solid;
}
.plus_plan_para {
    border: black 1px solid;
}
.premium_plan_para{
    border: black 1px solid;
}

